backups/
emacs-backup/
auto-save-list/
places
recentf*
undo/
bookmarks
elpa/
semanticdb/
*.dat
el-get/
history
emacs-powerline/
settings.el
/.emacs.desktop
persp-confs/
/.org-id-locations
url/*
/.emacs.desktop.lock
emacs-desktop
eshell/
request/
newsticker/
tramp
/.cask

/#recentf#
/projectile-bookmarks.eld
/narrowing.el
